# ==============================
# Byte-compiled / optimized / C-extensions
# ==============================
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
.eggs/

# ==============================
# Virtual Environments
# ==============================
.venv/
venv/
ENV/
env/
.uv/

# ==============================
# IDEs and Editors
# ==============================
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# ==============================
# Jupyter Notebooks
# ==============================
.ipynb_checkpoints/
*-checkpoint.ipynb

# ==============================
# Large Datasets / Temporary Processed Data
# ==============================
data/processadas_limpas_production/
data/dataset_yolo/
data/poligono/
*.tar.gz
*.zip

# ==============================
# PyTorch / YOLO Weights
# ==============================
*.pt
!pipeline_final/modelo/best.pt
!output/yolo/PROD_yolo26x-cls/train/weights/best.pt

# ==============================
# Outputs & Runs Temporários
# ==============================
output/pipeline_final/runs/
output/yolo/
pipeline_final/train/dataset_yolo/
pipeline_final/train/runs/
